// Social Media //
.fa-facebook-f:before {
  content: url("https://learnwithbtc.com/storage/app/public/logos/new-logo-assets/social-media-assets/Facebook/cover_photo.png");
}

i.fab.fa-instagram {
  content: url("https://learnwithbtc.com/storage/storage/app/public/logos/new-logo-assets/social-media-assets/Facebook/cover_photo_symbol.png");
}

i.fab.fa-twitter{
  content: url("https://learnwithbtc.com/storage/app/public/logos/new-logo-assets/social-media-assets/Facebook/cover_photo_without_slogan.png");
}
// Social Media //
